<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>AuthenticationApp</title>
	<meta name="description" content="" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<script src="./AuthenticationApp.js"></script>
</head>

<body>
	<h1>AuthenticationApp</h1>
	<div>
		<div><input id="js-input-launch" type="text" value="HFXSim"></div>
		<div><button id="js-button-launch">Launch App</button></div>
	</div>
	<hr />
	<div>
		<div><input id="js-input-user" type="text" value="someuser"></div>
		<div><button id="js-button-publish_authorization">publish authorization</button></div>
	</div>
	<hr />
	<div>
		<div><button id="js-button-release">Release</button></div>
	</div>

</body>

</html>
